<div class="post">
    <div class="flex-container post-header">
        <img class="profileimg" src="/images/userPhotos/{{post.postedBy.profileImg}}">
        <p>{{post.postedBy.username}}</p>
        {{#if_eq user._id post.postedBy._id}}
        <a class="delete-link" href="/delete/{{post._id}}"><img class="delete-icon" src="/images/delete-icon.jpg"></a>
        {{/if_eq}}
    </div>
    <img class="post-img" src="{{post.image}}">
    <div class="caption">
        <p>{{post.caption}}</p>
    </div>
    <div class="flex-container">
        <div class="flex-container likes">
            <div class="flex-container ">
                <img class="post-buttons likebtn" src="/images/heart-empty.png">
                <img class="post-buttons redLike hidden" src="/images/heart-red.png">
            </div>
            <p>{{post.likes}} likes</p>
        </div>
        <div class="flex-container comments">
            <img class="post-buttons" src="/images/comment.png">
            <a href="/comment?post_id={{post._id}}"><p>{{post.comments}} comments</p></a>
        </div>
        <div class="flex-container comments show-more">
            <a>Show more</a>
        </div>
    </div>
</div>