<div class="post">
    <img class="profileimg" src="/images/{{postedBy.profileImg}}">
    <p>{{postedBy.username}}</p>
    <img class="post-img" src="/images/userPhotos/{{image}}">
    <div class="caption">
        <p>{{caption}}</p>
    </div>
    <div class="flex-container">
        <div class="flex-container likes">
            <img class="post-buttons" src="/images/heart-empty.png">
            <p>{{likes}} likes</p>
        </div>
        <div class="flex-container comments">
            <img class="post-buttons" src="/images/comment.png">
            <p>{{comments}} comments</p>
        </div>
        <div>
            <a>Show Comments</a>
        </div>
    </div>
</div>

